*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

body {
  padding: 10px;
}

.wrapper-menu {
  position: relative;
  min-width: 440px;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

@media (min-width: 1300px) {
  .wrapper-menu {
    width: 300px;
    min-width: 300px;
  }
}

.menu-title {
  display: flex;
  align-items: center;
  background-color: #ffd700;
  border-radius: 3px 3px 0px 0px;
  width: 100%;
  height: 57px;
  text-transform: uppercase;
  font-size: 18px;
}

.menu-title::before {
  content: '';
  width: 28px;
  height: 28px;
  background-image: url(../images/burger.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 25px;
  margin-left: 25px;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  border-radius: 0 0 8px 8px;
}

.menu li {
  list-style: none;
}

.submenu {
  /* background-color: white; */
}

.submenu:not(:first-child) {
  border-top: 1px solid #ededed;
}

.submenu__link {
  display: flex;
  align-items: center;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
  color: #616161;
  text-decoration: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 12px;
  padding-left: 12px;
  transition: all 0.3s ease;
}

.submenu__link:hover {
  background-color: #e6f9ff;
}

.submenu--active .submenu__link {
  background-color: #e6f9ff;
}

.submenu__link div {
  display: block;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 7px;
}

.submenu__link::after {
  content: '';
  width: 12px;
  height: 12px;
  background-image: url(../images/arrow-left.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;

  transform: rotate(90deg);
  transition: all 0.3s ease;
}

@media (max-width: 1299px) {
  .submenu__link::after {
    transform: rotate(0);
  }
}

.submenu--active .submenu__link::after {
  transform: rotate(0);
}

@media (max-width: 1299px) {
  .submenu--active .submenu__link::after {
    transform: rotate(90deg);
  }
}

.submenu__items {
  display: flex;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  padding: 27px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  transition: opacity 0.3s ease;
}

@media (max-width: 1299px) {
  .submenu__items {
    border-radius: 0;
    box-shadow: none;
  }
}

.submenu__items::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.submenu--01 .submenu__items::after {
  background-image: url(../images/bg-submenu/submenu01.png);
  opacity: 0.5;
  background-size: 75%;
  background-position: 375px 275px;
}

@media (max-width: 1299px) {
  .submenu--01 .submenu__items::after {
    background-position: 35vw 45vh;
  }
}

.submenu--02 .submenu__items::after {
  background-image: url(../images/bg-submenu/submenu02.png);
  opacity: 0.5;
  background-position: 430px 230px;
  background-size: 70%;
}

@media (max-width: 1299px) {
  .submenu--02 .submenu__items::after {
    background-size: 100%;
    background-position: 25vw 35vh;
  }
}

.submenu--03 .submenu__items::after {
  background-image: url(../images/bg-submenu/submenu03.png);
  opacity: 0.5;
  background-position: 530px 220px;
}
@media (max-width: 1299px) {
  .submenu--03 .submenu__items::after {
    background-position: 15vw 25vh;
  }
}
.submenu--04 .submenu__items::after {
  background-image: url(../images/bg-submenu/submenu04.png);
  opacity: 0.5;
  transform: scale(-1, 1);
  background-position: -105px 315px;
  background-size: 50%;
}
@media (max-width: 1299px) {
  .submenu--04 .submenu__items::after {
    background-position: -5vw 50vh;
  }
}
.submenu--05 .submenu__items::after {
  background-image: url(../images/bg-submenu/submenu05.png);
  opacity: 0.5;
  background-position: 600px 185px;
  background-size: 75%;
}
@media (max-width: 1299px) {
  .submenu--05 .submenu__items::after {
    background-position: 30vw 45vh;
  }
}
.submenu--06 .submenu__items::after {
  background-image: url(../images/bg-submenu/submenu06.png);
  opacity: 0.5;
  transform: scale(-1, 1);
  background-position: -75px 50px;
}
@media (max-width: 1299px) {
  .submenu--06 .submenu__items::after {
    background-position: -25vw 25vh;
  }
}
.submenu--07 .submenu__items::after {
  background-image: url(../images/bg-submenu/submenu07.png);
  opacity: 0.5;
  background-position: 615px 200px;
}
@media (max-width: 1299px) {
  .submenu--07 .submenu__items::after {
    background-position: 50vw 30vh;
  }
}
.submenu--08 .submenu__items::after {
  background-image: url(../images/bg-submenu/submenu08.png);
  opacity: 0.5;
  background-position: 300px 110px;
  background-size: 70%;
}
@media (max-width: 1299px) {
  .submenu--08 .submenu__items::after {
    background-position: 20vh 10vh;
  }
}
.submenu--09 .submenu__items::after {
  background-image: url(../images/bg-submenu/submenu09.png);
  opacity: 0.5;
  background-position: 575px 250px;
  background-size: 50%;
}
@media (max-width: 1299px) {
  .submenu--09 .submenu__items::after {
    background-image: url(../images/bg-submenu/submenu09.png);
    opacity: 0.5;
    background-position: 50vw 550px;
    background-size: 50%;
  }
}
.submenu--10 .submenu__items::after {
  background-image: url(../images/bg-submenu/submenu10.png);
  opacity: 0.5;
  background-position: 600px -50px;
  background-size: 60%;
}
@media (max-width: 1299px) {
  .submenu--10 .submenu__items::after {
    background-position: 50vw 0px;
  }
}
.submenu--11 .submenu__items::after {
  background-image: url(../images/bg-submenu/submenu11.png);
  opacity: 0.5;
  transform: scale(-1, 1);
  background-position: -50px 105px;
  background-size: 75%;
}
@media (max-width: 1299px) {
  .submenu--11 .submenu__items::after {
    background-position: 0 45vh;
  }
}
.submenu--12 .submenu__items::after {
  background-image: url(../images/bg-submenu/submenu12.png);
  opacity: 0.5;
  background-position: 500px 200px;
  background-size: 75%;
}
@media (max-width: 1299px) {
  .submenu--12 .submenu__items::after {
    background-position: 50vw 25vh;
  }
}
.submenu--13 .submenu__items::after {
  background-image: url(../images/bg-submenu/submenu13.png);
  opacity: 0.5;
  transform: scale(-1, -1);
  background-position: -30px -5px;
  background-size: 55%;
}
@media (max-width: 1299px) {
}
.submenu--14 .submenu__items::after {
  background-image: url(../images/bg-submenu/submenu14.png);
  opacity: 0.5;
  transform: scale(-1, 1);
  background-position: -50px 275px;
  background-size: 50%;
}
@media (max-width: 1299px) {
  .submenu--14 .submenu__items::after {
    background-position: 0vw 12vh;
  }
}
.submenu--15 .submenu__items::after {
  background-image: url(../images/bg-submenu/submenu15.png);
  opacity: 0.5;
  background-position: 500px 300px;
  background-size: 50%;
}
@media (max-width: 1299px) {
  .submenu--15 .submenu__items::after {
    background-position: 45vw 25vh;
  }
}
.submenu--active .submenu__items {
  display: flex;
  opacity: 1;
  visibility: visible;
  flex-direction: column;
  column-gap: 85px;
  flex-wrap: wrap;
  top: 0;
  left: 325px;
  width: 965px;
  height: 585px;
  padding-right: 25%;
}

@media (max-width: 1299px) {
  .submenu--active .submenu__items {
    position: relative;
    left: 0;
    width: 100%;
    column-gap: 0;
    padding-right: 0;
  }

  .submenu--08.submenu--active .submenu__items,
  .submenu--09.submenu--active .submenu__items,
  .submenu--10.submenu--active .submenu__items,
  .submenu--12.submenu--active .submenu__items,
  .submenu--14.submenu--active .submenu__items,
  .submenu--15.submenu--active .submenu__items {
    height: inherit;
    padding-bottom: 100px;
  }
}

.submenu__items > li {
  width: 45%;
  margin-bottom: 32px;
}

@media (max-width: 1299px) {
  .submenu__items > li {
    margin-bottom: 24px;
  }
}

.submenu__items-link {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 32px;
  color: #616161;
  text-decoration: none;
  white-space: nowrap;
}

@media (max-width: 1299px) {
  .submenu__items-link {
    white-space: normal;
  }
}

.submenu__items-link:hover {
  border-bottom: 2px solid rgb(3, 155, 229);
}

.submenu__items li ul {
  padding: 0;
}

.submenu__items li div {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  color: #000000;
}

.submenu__items li div::after {
  content: '';
  display: block;
  height: 2px;
  background: #039be5;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}
